{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRec</th>
                <td>{{ reclamation.idRec }}</td>
            </tr>
            <tr>
                <th>Idcde</th>
                <td>{{ reclamation.idcde }}</td>
            </tr>
            <tr>
                <th>DateRec</th>
                <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MotifRec</th>
                <td>{{ reclamation.motifRec }}</td>
            </tr>
            <tr>
                <th>IdMagasinier</th>
                <td>{{ reclamation.idMagasinier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reclamation_index') }}">back to list</a>

    <a href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
